<a href="https://colab.research.google.com/github/mansigarg29/Basics-of-Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Discuss string slicing and provide examples.

Answer-

Slicing in string are used to extract the substring from the large given string, that helps in manupluating the data. there are mainly three index of sliecing that are [start: stop: step] each have specific role in slicing. Start is the starting value of the substring, stop is the ending value of substring and step is interval between the substring.

In [1]:
#Ex of Slicing
string = "I am busy today"
string[1:9]

' am busy'

In [2]:
#Ex of Slicing
string = "I am busy today"
string[::-1]           #in this type of slicing the string is executed from the revese.

'yadot ysub ma I'

In [3]:
#Ex of Slicing
string = "I am busy today"
string[5:]             #if any substring is empthy by default it take till the end value.

'busy today'

In [4]:
#Ex of Slicing
string = "I am busy today"
string [::2]            #in this type of string the string is executed with the interval of 2

'Ia uytdy'

2. Explain the key features of lists in Python

Answer-

List have multiple features some of them are:

a. List can store Heterogeneous data, means anything can be added to the list wheather it can be string, float, inter, and list inside the list. For ex- [1,1.25, 2.3, 3+5j, "Ram", [5,7,9]]

b. The date in the list have specific index and it is in the ordered form, means each element added in the list have proper index value, that can be removed, modified or added further if required.
ex- list = [1,1.25, 2.3, 3+5j, "Ram", [5,7,9]]
    list[2]
    Output: 2.3

c. The elements in the list are mutable means the elements can be changed, or delete later if not in use in future. The elements in the list  can be flexible to use for the uncertain variables.
ex- list = [1,1.25, 2.3, 3+5j, "Ram", [5,7,9]]
    list [1] = 5.36
Output: [1,5.36, 2.3, 3+5j, 'Ram', [5,7,9]]

d. Maximum numbers of built in functions support the list means it can be more user friendly that have multiple functions like append(), remove(), pop(), del(), len(), clear(), reverse(), range(), sort().

e. Negative Indexing means in list negative indexing can be perform in the list, this is useful case when the length of the list is not defined and want to modify from the end.
ex- list = [1,1.25, 2.3, 3+5j, "Ram", [5,7,9]]
    list[-2]
    output: 'Ram'

3. Describe how to access, modify, and delete elements in a list with examples

Answer-

List is most adaptable element in the python as it can be access, modify and delete any value from the data.

In [5]:
#Access of list
list_con = [10, 15, 15.5, 100, 90.6,500]
list_con [0]         #The value that is accessed or present in the 0th index is 10

10

In [6]:
#Modification of list
list_con = [10, 15, 15.5, 100, 90.6,500]
list_con [2] = 20                #In place of 2nd index that is 15.5 is modified with 20

In [7]:
list_con

[10, 15, 20, 100, 90.6, 500]

4. Compare and contrast tuples and lists with examples.

Answer-

Tuples and List both are used to collect data in python, but there are many key difference in both like tuple are immutable whereas list can be mutate or modified. The syntax of both the data structure is different as in the list the data is stored in square bracket [], and in tuples the data is stored in parentheses (). The type of data stored in list is the proccessed data that required updation in future like, employee salary, employee contact number. The type of data stored in tuples are fixed data that does not required updation in future like employee ID, employee employee date of joining. Both lsit and tuples can be iterated.

In [8]:
#Ex of List
Grocery_list = ["milk", "bread", "butter", "flour", "Biscuit"]
type (Grocery_list)

list

In [9]:
Grocery_list = ["milk", "bread", "butter", "flour", "Biscuit"]
Grocery_list.append ("Rice")                   #here in the list rice is added to the list.
Grocery_list

['milk', 'bread', 'butter', 'flour', 'Biscuit', 'Rice']

In [10]:
Grocery_list = ("milk", "bread", "butter", "flour", "Biscuit")
type (Grocery_list)

tuple

In [11]:
Grocery_list = ("milk", "bread", "butter", "flour", "Biscuit")
Grocery_list.append ("Rice")
Grocery_list                                        #here rice cannot added as it is immutable.

AttributeError: 'tuple' object has no attribute 'append'

5. Describe the key features of sets and provide examples of their use.

Answer-

Sets are unordered and unique collection of elements.
Some of the key features of sets are:
a. Mutable elements - Sets are mutable in nature that can be updated, access, modified and remove or delete later.
b. Unordered - Set elements are not in order, they can be executed differently from the way it is originally stored in the set.
c. Unique element - Sets do not takes the duplicate data, if there is anything repeated in the set it will only execute one time.
d. No indexing - In set indexing cannot be performed as there is no fix place for any element in the set.

Set operations:

There are four set operations that are:

a. Union - It combines elements from two sets excluding duplicate.

b. Intersection - It only executes common elements between sets.

c. Difference - It returns the element that is present in first set and not in the second.

d. Symmetric difference - It returns the elements that are present in either of the sets but not in both set.

In [12]:
#Ex of set
Seat_no = {6,2,3,5,7}
type (Seat_no)

set

In [13]:
Seat_no = {6,2,2,3,3,5,7,7,7}
Seat_no                      #it only exexute unique and unordered elements

{2, 3, 5, 6, 7}

In [14]:
#adding element to set
Seat_no = {6,2,3,5,7}
Seat_no.add (4)
Seat_no

{2, 3, 4, 5, 6, 7}

In [17]:
#removing element to set
Seat_no = {6,2,3,5,7}
Seat_no.remove (3)
Seat_no

{2, 5, 6, 7}

In [16]:
#pop element to set
Seat_no = {6,2,3,5,7}
Seat_no.pop ()            #pop will remove any random element from the set.
Seat_no

{3, 5, 6, 7}

In [18]:
#Ex Union
Travel1 = {"packing", "shopping", "hiking"}
Travel2 = {"shopping", "beach", "sunscreen "}
Travel1 | Travel2

{'beach', 'hiking', 'packing', 'shopping', 'sunscreen '}

In [19]:
#Ex Intersection
Travel1 = {"packing", "shopping", "hiking"}
Travel2 = {"shopping", "beach", "sunscreen "}
Travel1 & Travel2

{'shopping'}

In [20]:
#Ex Difference
Travel1 = {"packing", "shopping", "hiking"}
Travel2 = {"shopping", "beach", "sunscreen "}
Travel1 - Travel2

{'hiking', 'packing'}

In [21]:
#Ex Symmetric difference
Travel1 = {"packing", "shopping", "hiking"}
Travel2 = {"shopping", "beach", "sunscreen "}
Travel1 ^ Travel2

{'beach', 'hiking', 'packing', 'sunscreen '}

6. Discuss the use cases of tuples and sets in Python programming.

Answer-

In [22]:
#used case of tuple
employee = (2, 32, 5.3, "employye name")
employee.index (5.3)

2

In [23]:
employee = ("employye name",2, 32, 5.3, "employye name")
employee.count ("employye name")                 #it shows the number of times items comes in the tuple

2

In [24]:
employee = (2, 32, 5.3, "employye name")
for i in employee:
    print (i)

2
32
5.3
employye name

In [25]:
#used case of set
employee = {2, 32, 5.3, "employye name"}
type (employee)

set

In [26]:
employee = {2, 32, 5.3, "employye name"}
employee = list(employee)

In [27]:
employee                      #convert set into list

[32, 2, 5.3, 'employye name']

In [28]:
type (employee)

list

In [29]:
s = {1,2,3,3,4,5, (5.6,7)}
for i in s:
    print (i)

1
2
3
4
5
(5.6, 7)

7. Describe how to add, modify, and delete items in a dictionary with examples.

Answer-

Dictionary is a collection of key value paired that are unique and immutable. You can add, modify and delete the item in dictionary.

In [30]:
#Ex of addttion in Dictionary
dic = {"students": ["Ram", "Roni", "Renu"], "students ID": [25, 30, 35], "grade": [100, 200, 300]}
print (dic)

{'students': ['Ram', 'Roni', 'Renu'], 'students ID': [25, 30, 35], 'grade': [100, 200, 300]}

In [31]:
dic = {"students": ["Ram", "Roni", "Renu"], "students ID": [25, 30, 35], "grade": [100, 200, 300]}
dic ["address"] = ["Indore", "Bangalore", "Mumbai"]
dic

{'students': ['Ram', 'Roni', 'Renu'],
 'students ID': [25, 30, 35],
 'grade': [100, 200, 300],
 'address': ['Indore', 'Bangalore', 'Mumbai']}

In [32]:
#Ex of Modification in Dictionary
dic = {"students": ["Ram", "Roni", "Renu"], "students ID": [25, 30, 35], "grade": [100, 200, 300]}
dic ["students"][1] = ("jaya")
dic

{'students': ['Ram', 'jaya', 'Renu'],
 'students ID': [25, 30, 35],
 'grade': [100, 200, 300]}

In [33]:
#Ex of delete in Dictionary
dic = {"students": ["Ram", "Roni", "Renu"], "students ID": [25, 30, 35], "grade": [100, 200, 300]}
del dic ["students ID"]
dic

{'students': ['Ram', 'Roni', 'Renu'], 'grade': [100, 200, 300]}

8. Discuss the importance of dictionary keys being immutable and provide examples

Answer-

Dictionary is a data structure that stores as key value pair, the keys are immutable, here are some of the importance of dictionary in python:

a. It provides unique values - As dictionary are unordered and do not repeat the value while executing the program.

b. Hash value - Dictionary is immutable in nature so it can be easily stored the tuple data inside the dictionary items.

c. Effecient for permanent records - As dictionary are immutable so it efficient wit the large database, to lookup the data.

In [34]:
#Ex of immutable dictionary keys
#List inside the dictionary, as a key, it will be unhasable
dic = {[1,"hello",2.5]: "World"}

TypeError: unhashable type: 'list'

In [35]:
#Ex of immutable dictionary keys
#Set inside the dictionary, as a key, it will be unhasable
dic = {{1,"hello",2.5}: "World"}

TypeError: unhashable type: 'set'

In [36]:
#Ex of immutable dictionary keys
#Dictionary inside the dictionary, as a key, it will be unhasable
dic = {{"I m happy":"hello"}: "World"}

TypeError: unhashable type: 'dict'

In [37]:
#Ex of immutable dictionary keys
#Tuple inside the dictionary, as a key, it will be Hasable and it will give output
dic = {(1,"hello",2.5): "World"}
dic

{(1, 'hello', 2.5): 'World'}